/* Form styling */
.form-wrapper {
	max-width : 600px;
	width     : 100%;
	margin    : 0 auto;
}

.form-wrapper .field-container {
	position : relative;
}

.form-wrapper label {
	position           : absolute;
	padding            : 8px 0;
	top                : 0;
	z-index            : 1;
	font-size          : 22px;

	-webkit-transition : all .15s;
	-moz-transition    : all .15s;
	-ms-transition     : all .15s;
	-o-transition      : all .15s;
	transition         : all .15s;
}

.form-wrapper label.active,
.form-wrapper label.filled {
	top : -20px;
}

.form-wrapper input {
	position : relative;
	z-index  : 2;
}

.form-wrapper textarea {
	position : relative;
}

.form-wrapper input[type="date"],
.form-wrapper input[type="email"],
.form-wrapper input[type="file"],
.form-wrapper input[type="number"],
.form-wrapper input[type="password"],
.form-wrapper input[type="text"],
.form-wrapper select {
	width              : 100%;
	border             : none;
	border-bottom      : 2px solid #888888;
	margin-top         : 8px;
	margin-bottom      : 24px;
	padding            : 8px 0;
	border-radius      : 0;
	background-color   : rgba(255, 255, 255, 0);
	outline            : none;

	-webkit-box-sizing : content-box;
	-moz-box-sizing    : content-box;
	-ms-box-sizing     : content-box;
	box-sizing         : content-box;

	-webkit-transition : color, border-bottom-color, position .3s;
	-moz-transition    : color, border-bottom-color, position .3s;
	-ms-transition     : color, border-bottom-color, position .3s;
	-o-transition      : color, border-bottom-color, position .3s;
	transition         : color, border-bottom-color, position .3s;
}

.form-wrapper textarea[type="email"],
.form-wrapper textarea[type="text"] {
	width            : 100%;
	height           : 150px;
	padding          : 12px 20px;
	box-sizing       : border-box;
	border           : 2px solid #ffc107;
	border-radius    : 2px;
	background-color : #f8f8f8;
	font-size        : 16px;
	resize           : none;
	margin-top       : 50px;
	margin-bottom    : 24px;
	outline          : none;
}

.form-wrapper textarea[type="text"]:focus {
	border : 2px solid #ffa000;
}

.form-wrapper input[type="email"],
.form-wrapper input[type="password"],
.form-wrapper input[type="text"] {
	-webkit-appearance : none;
	-moz-appearance    : none;
	appearance         : none;
}

.form-wrapper .checkbox-label {
	position : relative;
}

.form-wrapper input[type="checkbox"] {
	position       : relative;
	display        : inline-block;
	width          : 32px;
	height         : 32px;
	outline        : none;
	cursor         : pointer;
	vertical-align : middle;
}

.form-wrapper input[type="email"]:focus,
.form-wrapper input[type="text"]:focus,
.form-wrapper select:focus {
	outline             : none;
	border-bottom-color : #ffc107;
}

.button,
.form-wrapper button {
	display            : inline-block;
	padding            : 8px 16px;
	border             : none;
	border-radius      : 2px;
	box-shadow         : 0 1px 4px rgba(0, 0, 0, .6);
	background-color   : #ffa000;
	color              : #ffffff;
	text-decoration    : none;

	-webkit-transition : background-color .3s;
	-moz-transition    : background-color .3s;
	-ms-transition     : background-color .3s;
	-o-transition      : background-color .3s;
	transition         : background-color .3s;
}

.form-wrapper .required span {
	color : #ff0000;
}

.form-wrapper button {
	display       : inline-block;
	margin-top    : 15px;
	margin-bottom : 15px;
}

button:hover {
	background-color   : #ff6f00;
	/*font-size          : 130%;*/
	-webkit-transition : all .1s;
	-moz-transition    : all .1s;
	-ms-transition     : all .1s;
	-o-transition      : all .1s;
	transition         : all .1s;
}

.form-wrapper button[disabled] {
	background-color : #888888;
}

.valid {
	color         : #4caf50;
	border-bottom : 2px solid #4caf50 !important;
}

.dirty {
	color         : #ff0000;
	border-bottom : 2px solid #ff0000 !important;
}

textarea.dirty {
	border : 2px solid #ff0000 !important;
}

textarea.valid {
	border : 2px solid #4caf50 !important;
}

.errors {
	width            : 100%;
	padding          : 8px;
	border-radius    : 2px;
	background-color : #db4437;
	color            : #ffffff;
	font-weight      : bold;
}

.success-message {
	width            : 100%;
	padding          : 8px;
	border-radius    : 2px;
	background-color : #4caf50;
}

.success-message * {
	color            : #ffffff !important;
	font-weight      : bold;
}

.email-error input:after {
	color : #ff0000;
}

input[disabled] {
	color         : #888888;
	border-bottom : 2px solid #888888 !important;
}

.switch-toggle label.active,
.switch-toggle label.filled {
	top      : auto;
	position : relative;
}

.transactions-report-group {
	display: none;
}

.switch-toggle a {
	display : none;
}

@media only screen {
	.switch-toggle {
		position : relative;
		display  : block;
		padding  : 0 !important;
	}

	.switch-toggle::after {
		clear   : both;
		content : "";
		display : table;
	}

	.switch-toggle *,
	.switch-toggle *:before,
	.switch-toggle *:after {
		box-sizing : border-box;
	}

	.switch-toggle a {
		display            : block;
		-webkit-transition : all 0.2s ease-out;
		-moz-transition    : all 0.2s ease-out;
		transition         : all 0.2s ease-out;
	}

	.switch-toggle label,
	.switch-toggle > span {
		line-height    : 2em;
		vertical-align : middle;
	}

	.switch-toggle input:focus ~ span a,
	.switch-toggle input:focus + label {
		outline-width : 2px;
		outline-style : solid;
		outline-color : Highlight;
	}
}

@media only screen and (-webkit-min-device-pixel-ratio : 0) {
	.switch-toggle input:focus ~ span a,
	.switch-toggle input:focus + label {
		outline-color : -webkit-focus-ring-color;
		outline-style : auto;
	}
}

@media only screen {
	.switch-toggle input {
		position : absolute;
		left     : 0;
		opacity  : 0;
	}

	.switch-toggle input + label {
		position   : relative;
		z-index    : 2;
		display    : block;
		float      : left;
		padding    : 0 0.5em;
		margin     : 0;
		text-align : center;
	}

	.switch-toggle a {
		position : absolute;
		top      : 0;
		left     : 0;
		padding  : 0;
		z-index  : 1;
		width    : 10px;
		height   : 100%;
	}

	.switch-toggle label:nth-child(2):nth-last-child(4),
	.switch-toggle label:nth-child(2):nth-last-child(4) ~ label,
	.switch-toggle label:nth-child(2):nth-last-child(4) ~ a {
		width : 50%;
	}

	.switch-toggle label:nth-child(2):nth-last-child(4) ~ input:checked:nth-child(3) + label ~ a {
		left : 50%;
	}

	.switch-toggle label:nth-child(2):nth-last-child(6),
	.switch-toggle label:nth-child(2):nth-last-child(6) ~ label,
	.switch-toggle label:nth-child(2):nth-last-child(6) ~ a {
		width : 33.33%;
	}

	.switch-toggle label:nth-child(2):nth-last-child(6) ~ input:checked:nth-child(3) + label ~ a {
		left : 33.33%;
	}

	.switch-toggle label:nth-child(2):nth-last-child(6) ~ input:checked:nth-child(5) + label ~ a {
		left : 66.66%;
	}

	.switch-toggle label:nth-child(2):nth-last-child(8),
	.switch-toggle label:nth-child(2):nth-last-child(8) ~ label,
	.switch-toggle label:nth-child(2):nth-last-child(8) ~ a {
		width : 25%;
	}

	.switch-toggle label:nth-child(2):nth-last-child(8) ~ input:checked:nth-child(3) + label ~ a {
		left : 25%;
	}

	.switch-toggle label:nth-child(2):nth-last-child(8) ~ input:checked:nth-child(5) + label ~ a {
		left : 50%;
	}

	.switch-toggle label:nth-child(2):nth-last-child(8) ~ input:checked:nth-child(7) + label ~ a {
		left : 75%;
	}

	.switch-toggle label:nth-child(2):nth-last-child(10),
	.switch-toggle label:nth-child(2):nth-last-child(10) ~ label,
	.switch-toggle label:nth-child(2):nth-last-child(10) ~ a {
		width : 20%;
	}

	.switch-toggle label:nth-child(2):nth-last-child(10) ~ input:checked:nth-child(3) + label ~ a {
		left : 20%;
	}

	.switch-toggle label:nth-child(2):nth-last-child(10) ~ input:checked:nth-child(5) + label ~ a {
		left : 40%;
	}

	.switch-toggle label:nth-child(2):nth-last-child(10) ~ input:checked:nth-child(7) + label ~ a {
		left : 60%;
	}

	.switch-toggle label:nth-child(2):nth-last-child(10) ~ input:checked:nth-child(9) + label ~ a {
		left : 80%;
	}

	.switch-toggle label:nth-child(2):nth-last-child(12),
	.switch-toggle label:nth-child(2):nth-last-child(12) ~ label,
	.switch-toggle label:nth-child(2):nth-last-child(12) ~ a {
		width : 16.6%;
	}

	.switch-toggle label:nth-child(2):nth-last-child(12) ~ input:checked:nth-child(3) + label ~ a {
		left : 16.6%;
	}

	.switch-toggle label:nth-child(2):nth-last-child(12) ~ input:checked:nth-child(5) + label ~ a {
		left : 33.2%;
	}

	.switch-toggle label:nth-child(2):nth-last-child(12) ~ input:checked:nth-child(7) + label ~ a {
		left : 49.8%;
	}

	.switch-toggle label:nth-child(2):nth-last-child(12) ~ input:checked:nth-child(9) + label ~ a {
		left : 66.4%;
	}

	.switch-toggle label:nth-child(2):nth-last-child(12) ~ input:checked:nth-child(11) + label ~ a {
		left : 83%;
	}

	/* Candy Theme
   * Based on the "Sort Switches / Toggles (PSD)" by Ormal Clarck
   * http://www.premiumpixels.com/freebies/sort-switches-toggles-psd/
   */
	.switch-toggle.switch-candy {
		background-color : #3f3f3f;
		border-radius    : 3px;
		box-shadow       : inset 0 2px 6px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.2);
	}

	.switch-toggle.switch-candy label {
		color       : #ffffff;
		font-weight : bold;
		text-align  : center;
		text-shadow : 1px 1px 1px #191b1e;
	}

	.switch-candy a {
		border           : 1px solid #333333;
		border-radius    : 3px;
		box-shadow       : 0 1px 1px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.45);
		background-color : #ffa000;
		background-image : -webkit-linear-gradient(top, rgba(255, 255, 255, 0.2), transparent);
		background-image : linear-gradient(to bottom, rgba(255, 255, 255, 0.2), transparent);
	}

}

@media only screen and (-webkit-max-device-pixel-ratio : 2) and (max-device-width : 80em) {
	.switch-toggle {
		-webkit-animation : webkitSiblingBugfix infinite 1s;
	}
}

@-webkit-keyframes webkitSiblingBugfix {
	from {
		-webkit-transform : translate3d(0, 0, 0);
	}
	to {
		-webkit-transform : translate3d(0, 0, 0);
	}
}
