html {
	height     : 100%;
	box-sizing : border-box;
}

*,
*:before,
*:after {
	box-sizing : inherit;
}

body {
	margin     : 0;
	position   : relative;
	right      : 0;
	/*padding-bottom: 6rem;*/
	min-height : 100%;
	transition : right 200ms;
}

body a {
	outline : none;
}

img {
	max-width : 100%;
}

img.center {
	display : block;
	margin  : 0 auto;
}

/* Navigation Styling */
header {
	position : fixed;
	top      : 0;
	width    : 100%;
	z-index  : 99999;
}

.primary-bg {
	background-color : #ffa000;
}

.secondary-bg {
	background-color : #ffecb3;
}

.accent-bg {
	background-color : #fff8e1;
}

.white-bg {
	background-color : #ffffff;
}

#Logo {
	display         : inline-block;
	padding         : 15px 0;
	text-decoration : none;
	font-size       : 22px;
}

#Logo img {
	height: 100%;
	max-height: 60px;
}

.clearfix:after {
	content : "";
	display : table;
	clear   : both;
}

video {
	width: 100%;
}

/* Card Styling */
.card {
	border-radius : 2px;
	box-shadow    : 0 2px 8px rgba(0, 0, 0, 0.12), 0 1px 8px rgba(0, 0, 0, 0.72);
}

.card-1 {
	border-radius : 2px;
	box-shadow    : 0 4px 8px rgba(0, 0, 0, 0.12), 0 1px 8px rgba(0, 0, 0, 0.24);
}

.card-2 {
	border-radius : 2px;
	box-shadow    : 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 8px rgba(0, 0, 0, 0.36);
}

.no-margin {
	margin : 0;
}

.float-left {
	float : left;
}

.float-right {
	float : right;
}

/* Layout styling */
.text-left {
	text-align : left;
}

.text-center {
	text-align : center;
}

.text-right {
	text-align : right;
}

#ContentWrapper {
	position         : absolute;
	min-height           : 100%;
	top              : 0;
	right            : 0;
	padding-bottom   : 80px;
	left             : 0;
	background-color : #ffffff;
	z-index          : 1;
}

#Content {
	padding : 130px 0 30px;
}

#Content p {
	color : #333333;
}

#Footer {
	padding  : 30px 0;
	position : absolute;
	right    : 0;
	bottom   : 0;
	left     : 0;
}