/**
Color Pallet can be found here.
http://paletton.com/#uid=1330u0kqJvTg-I7lNA4vnrNxZlJ
 */
.drop-button {
	background-color: #ffa000;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
}

.drop-down {
	position: relative;
	display: inline-block;
}

.drop-down:hover .drop-down-content {
	display: block;
}

.drop-down-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	max-width: 600px;
	z-index:1;
	box-shadow: 1px 8px 16px 1px rgba(0,0,0,0.2);
}

.drop-down-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.drop-down-content a:hover {
	background-color: #f1f1f1;
}

.package-wrapper a:hover {
	font-size : 130%;
}
.button-hover a:hover{
	font-size : 130%;
	-webkit-transition : font-size .1s;
	-moz-transition    : font-size .1s;
	-ms-transition     : font-size .1s;
	-o-transition      : font-size .1s;
	transition         : font-size .1s;
}

.fade-in {
	-webkit-animation: fade-in .75s; /* Safari, Chrome and Opera > 12.1 */
	-moz-animation: fade-in .75s; /* Firefox < 16 */
	-ms-animation: fade-in .75s; /* Internet Explorer */
	-o-animation: fade-in .75s; /* Opera < 12.1 */
	animation: fade-in .75s;
}

.paragraph-breaking{
	width: 500px;
	word-wrap: break-word; /* used to wrap words in paragraph/easy formatting */
}

@-webkit-keyframes fade-in {
	from { opacity: 0; }
	to { opacity: 1; }
}

@-moz-keyframes fade-in {
	from { opacity: 0; }
	to { opacity: 1; }
}

@-ms-keyframes fade-in {
	from { opacity: 0; }
	to { opacity: 1; }
}

@-o-keyframes fade-in {
	from { opacity: 0; }
	to { opacity: 1; }
}

@keyframes fade-in {
	from { opacity: 0; }
	to { opacity: 1; }
}

/*
viktor code
 */

.banner {
	position: relative;
	background-image: url("https://static1.squarespace.com/static/56a1b48e2399a32e6171d4c3/t/56a768301115e0437fc466a3/1453811761142/letters_post_cards_stamps_photography_1920x1200_hd-wallpaper-1600184.jpg");
	/* https://static1.squarespace.com/static/56a1b48e2399a32e6171d4c3/t/56a768301115e0437fc466a3/1453811761142/letters_post_cards_stamps_photography_1920x1200_hd-wallpaper-1600184.jpg
	https://www.highreshdwallpapers.com/wp-content/uploads/2014/06/Drinking-Cheers.jpg
	*/
	background-size: cover;
	background-position: center;
	background-attachment : fixed;
	height: 100vh;
	width: 100%;
	margin: -35px auto -100px;
}

.banner2 {
	position: relative;
	background-image: url("http://weknownyourdreamz.com/images/town/town-02.jpg");
	/* https://static1.squarespace.com/static/56a1b48e2399a32e6171d4c3/t/56a768301115e0437fc466a3/1453811761142/letters_post_cards_stamps_photography_1920x1200_hd-wallpaper-1600184.jpg
	https://www.highreshdwallpapers.com/wp-content/uploads/2014/06/Drinking-Cheers.jpg
	*/
	-webkit-transition: background-image 0.2s ease-in-out;
	transition: background-image 0.2s ease-in-out;
	background-size: cover;
	background-position: center;
	background-attachment : fixed;
	height: 500px;
	width: 100%;
}

.banner-content {
	border: 1px solid #FFF;
	/*border-radius: 10px;*/
	background-color: white;
	position: relative;
	top: 20%;
	width: 60%;
	padding: 30px 10px;
	margin: auto;
}
.banner-content2 {
	border: 1px solid #FFF;
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.9);
	position: relative;
	top: 20%;
	width: 40%;
	padding: 30px 10px;
	margin: auto;
}



/* end of viktor code */

/*
	Media queries go below here.
	Use "max-width" for setting breakpoints
	and make sure it goes from high to low.
*/
@media (max-width : 767px) {

}