<template>
    <div>
        {{ message }} World!
    </div>
</template>

<script>
	export default {
		name: 'hello-world',
		data() {
			return {
				message: 'hello'
			};
		},
		created() {
			console.log('hello');
		},
	};
</script>

<style scoped>

</style>